<div class="progressbarbg">
  <div class="progressbar progressbar-{% if value < 0.2 %}green{% elif value < 0.5 %}yellow{% elif value < 0.8 %}orange{% else %}red{% endif %}" style="width: {% widthratio value 1 100 %}%;"></div>
</div>
