{% extends "gccfarm_web/base.html" %}
{% load bootstrap %}

{% block content %}
<h1>Approve account request</h1>

<p>You are about to <strong>approve</strong> account creation for the following user:</p>

<table class="table table-striped">
  <tr><th>Name</th><td>{{ user.first_name }} {{ user.last_name }}</td></tr>
  <tr><th>Login</th><td>{{ user.username }}</td></tr>
  <tr><th>Email address</th><td>{{ user.email }}</td></tr>
  <tr style="word-break: break-all;"><th>Contributions</th><td>{{ user.contributions|urlizetrunc:42|linebreaks }}</td></tr>
</table>

<form method="post">
{% csrf_token %}
<div class="form-group">
{{ form.welcome_email.label_tag }}
{{ form.welcome_email }}
</div>
<input type="submit" value="Approve" class="btn btn-success" />
</form>
{% endblock content %}
