{% extends "gccfarm_web/base.html" %}

{% block content %}

<h1>Manage groups</h1>

<p>This page allows users to manage their groups.  Machines actually
belong to groups, not users: this allows to share responsibility between
several persons.  For instance, if a ticket is opened about a hardware
issue with a machine, all members of the group (owners of the machine)
will be notified.</p>

<p>Note that the group is shown in the list of machines, as the "host"
(e.g. FSFFrance, OSUOSL, etc).</p>

{% endblock content %}
