{% extends "gccfarm_web/base.html" %}

{% block content %}

<div class="row"><a href="{% url 'rss' %}" class="btn btn-default">Subscribe to RSS feed</a></div>

{% include "gccfarm_web/news_fragment.html" %}

{% if is_paginated %}
<nav aria-label="news-pagination">
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li class="previous">
      <a href="?page={{ page_obj.previous_page_number }}"><span aria-hidden="true">&larr;</span> More recent news</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="next">
      <a href="?page={{ page_obj.next_page_number }}">Older news <span aria-hidden="true">&rarr;</span></a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock content %}
