{% extends "gccfarm_web/base.html" %}

{% block content %}

<h1>List of users</h1>

<p>This page lists all users of the platform, with at least their Unix
login and a way to contact them (email address?).</p>

<p>This allows a user to contact directly another user in case of problem
(e.G. high resource usage on a common machine), without having to open a
ticket or go through an admin.</p>

<p>There are obvious privacy issues to be considered here (which
information should be displayed, opt-in or opt-out, is it a good idea
after all, etc).  In any case, this would only be accessible by logged-in
users.</p>

{% endblock content %}
