{% extends "gccfarm_web/base.html" %}
{% load i18n %}

{% block content %}

<h1>{{ title }}</h1>

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{% url 'login' %}">{% trans 'Log in' %}</a></p>

{% endblock %}
