{% extends "gccfarm_web/base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}

<h1>{{ title }}</h1>

<div id="content-main">

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}

<fieldset class="module aligned wide">

<div class="form-row">
    {% bootstrap_errors form.old_password.errors %}
    {{ form.old_password.label_tag }} {{ form.old_password }}
</div>

<div class="form-row">
    {% bootstrap_errors form.new_password1.errors %}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {% if form.new_password1.help_text %}
    {% bootstrap_info form.new_password1.help_text|safe %}
    {% endif %}
</div>

<div class="form-row">
    {% bootstrap_errors form.new_password2.errors %}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    {% if form.new_password2.help_text %}
    {% bootstrap_info form.new_password2.help_text|safe %}
    {% endif %}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}" class="default" />
</div>

</div>
</form>
</div>

{% endblock content %}
